*{
    
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke; 
}
.container{
    background-image: url(Images/login_page_background.jpg);
    width: 15;
    height: 100%;
    min-height: 100vh;
    background-color: #a1a1aa21;
    background-position: center;
    background-size: cover;
    position: relative;
}


.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    position: relative;
    color: rgb(255, 255, 255);
}

.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #1100f5;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}


.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%,-50%);
    background: #000000;
    padding: 90px 90px 70px; 
    text-align: center;
}

.input-field{
    background : #eaeaea;
    margin: 15px 0px ;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
/* where are the icons ? ? ? wth  */
.input-field i{ 
    margin-left: 15px;
    color: #000000;
}

form p{
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 14px;
}

form p a{
    text-decoration: none;
    color: #00f5ac;
    cursor: pointer; 
}

form p a:active{
    color: #0010f5;
    cursor: pointer; 
}
form p a:visited{
    color: 0010f5;
    cursor: pointer; 
}


.button-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button-field button{
    flex-basis: 48%;
    background: rgb(38, 0, 255);
    color: aqua;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: 1s;
}

.input-group{
    height: 250px;
}

.button-field button.disable{
    background: #a1a1aa;
    color: #ffffff;
}

/*CSS for the Recovery Pop-Up  */

.recovery-message {
    color: #000000;
    font-weight: lighter;
}


#pop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

#popBox {
    background: rgb(255, 255, 255);
    padding: 15px 25px;
    border-radius: 4px;
    text-align: center;
}
